
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>İzİnler Tanımı</b></h4>
            <p class="text-muted m-b-30 font-13">
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-12">
                              <ui-select class="form-control" ng-model="user.selected" theme="select2" ng-disabled="role.selected !=''" ng-change="userChange()">
                                  <ui-select-match placeholder="Kullanıcı seçiniz">{{$select.selected.name}} <button class="clear" ng-click="clearUser($event)">X</button></ui-select-match>
                                  <ui-select-null-choice>No person</ui-select-null-choice>
                                   <ui-select-choices repeat="user in users | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="user.name | highlight: $select.search"></div>
                                    <small>
                                      rol: {{user.role_id.name}}
                                    </small>
                                  </ui-select-choices>
                              </ui-select>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="col-md-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-md-12">
                              <ui-select class="form-control" ng-model="role.selected" theme="select2" ng-disabled="user.selected != ''" ng-change="roleChange()" >
                                    <ui-select-match placeholder="Rol seçiniz">{{$select.selected.name}}<button class="clear" ng-click="clearRole($event)">X</button></ui-select-match>
                                    <ui-select-choices repeat="role in roles | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="role.name | highlight: $select.search"></div>
                                      <small>
                                        Rol: {{role.name}}
                                      </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                    </form>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dual-list list-left col-md-5">

                        <div class="well text-right">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        <input type="text" name="SearchDualList" class="form-control" placeholder="İzin verilen sayfaları seçiniz" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <a class="btn btn-default selector" title="tümünü seç"><i class="glyphicon glyphicon-unchecked"></i></a>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group" id="ulIzinsiz">
                                <li class="list-group-item"  ng-repeat="item in sayfalar track by $index" ng-bind="item.name" ng-click="al(item,$index)" ng-hide="item.disabled"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="list-arrows col-md-2 pull-left">
                        <div class="arrow-padd" style="padding-left:20px;">
                            <div class=" move-left">
                                <input type="checkbox" ng-model="saveCheck" ng-change="save(saveCheck)"> Ekle
                            </div>
                            <div class="move-left">
                                <input type="checkbox" ng-model="readCheck" ng-change="read(readCheck)"> Oku
                            </div>
                            <div class="move-left">
                                <input type="checkbox" ng-model="editCheck" ng-change="edit(editCheck)"> Düzenle
                            </div>
                            <div class="move-left">
                                <input type="checkbox" ng-model="deleteCheck" ng-change="delete(deleteCheck)"> Sil
                            </div>
                        </div>
                    </div>

                    <div class="dual-list list-right col-md-5">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <a class="btn btn-default selector" title="tümünü seç"><i class="glyphicon glyphicon-unchecked"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" name="SearchDualList" class="form-control" placeholder="İzin verilen sayfalar" />
                                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in izinliSayfalar track by $index" ng-bind="item.service_label"></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-default" style="border-radius :0px" ng-click="saveAll()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>İzİnler Tanımı Listele</b></h4>
            <p class="text-muted m-b-30 font-13">
            </p>

            <div class="table-responsive">
                <table id="mainTable" class="table">
                    <thead style="background-color:#36404a">
                        <tr>
                            <th style="color:#fff;">Kullanıcı</th>
                            <th style="color:#fff;">Sayfa</th>
                            <th style="color:#fff;">Operasyon</th>
                            <th style="width:90px; color:#fff;">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list">
                            <td ng-bind="item.name"></td>
                            <td ng-bind="item.service_label"> </td>
                            <td>
                                <span ng-show="item.method_post">Ekle </span>
                                <span ng-show="item.method_get">Oku </span>
                                <span ng-show="item.method_put">Düzenle </span>
                                <span ng-show="item.method_delete">Sil</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" ng-click="deleteItem($index,item)"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
