<div class="card-container">
      <div class="businesscard">
           <div class="back">
            <div class="cd-slideshow-wrapper">
                <ol class="cd-slideshow">
                    <li class="visible" id="slide-1">
                        <div class="cd-slider-content">
                            <div class="content-wrapper">
                                <div class="container" >
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">

                                            <div class="col-sm-12">
                                                <div class="">
                                                    <div class="row">
                                                    <h2 class="text-center" ng-bind="obj.orders[0].room_no"></h2>
                                                    <h2 class="text-center" ng-bind="obj.orders[0].desk_no"></h2>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <h2 class="text-center" ng-bind="obj.orders[0].account_id.name"></h2>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <table class="table table-bordered" style="background-color:white">
                                           <thead>
                                              <tr>
                                                   <th>#</th>
                                                   <th>Ürün</th>
                                                   <th>Adet</th>
                                                   <th>Toplam Fiyat</th>
                                                   <th style="text-align : center">Düzenle</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <tr class="success" ng-repeat="item in obj.orders track by $index">
                                                   <td ng-bind="$index +1"></td>
                                                   <td ng-bind="item.product_name"></td>
                                                   
                                                   <td> <div ng-hide="viewField">{{item.piece}}</div>
							                            <div ng-show="modifyField"><input type="text" ng-model="item.piece" /></div>
                                                  </td>
                                                   <td ng-bind="item.total_price"></td>
                                                   <td style="text-align : center">
                                                   <button class="btn btn-info btn-sm" ng-hide="viewField" ng-click="modify(item,$index)">Modify</button>
							                     <button class="btn btn-success btn-sm" ng-show="modifyField" ng-click="update(item,$index)">Update</button>
                                              </td>
                                               </tr>
                                           </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-success" ng-click="onayla()">onayla</button>
                                   <br>
                                   <button class="btn btn-success" ng-click="iptal()">iptal</button>
                                   <br>
                                   <button class="btn btn-success" ng-click="ertele()">ertele</button>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </li>

                </ol> <!-- .cd-slideshow -->
            </div> <!-- .cd-slideshow-wrapper -->
        </div>
    </div>
    <table class="table">
        <thead>
            <th>#</th>
            <th>Ofis No</th>
            <th>Masa No</th>
            <th>İsim</th>
            <th style="text-align : center">İşlem</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in list track by $index">
               <td ng-bind="$index+1"></td>
               <td ng-bind="item.orders[0].room_no"></td>
               <td ng-bind="item.orders[0].desk_no"></td>
               <td ng-bind="item.orders[0].account_id.name"></td>
               <td style="text-align : center"><button class="btn btn-success" ng-click="goster(item)" ng-disabled= "obj._id">Göster</button></td>
                
            </tr>
        </tbody>
    </table>

</div>
       

