<header role="banner">
    <div id="cd-logo">
        <a>
            <h2 style="font-size: 28px; color: #e1e1e1">Kantin Sipariş Ekranı</h2>
        </a>
    </div>

    <nav class="main-nav">
        <ul>
            <!-- inser more links here -->
            <li><a href="javascript:void(0)" class="cd-signup" ng-click="siparisler()">Siparişler</a></li>
            <li><a href="javascript:void(0)" class="cd-signin" ng-click="urunEkleme()">Ürün Ekle</a></li>
            
            
            <li style="display:none">
                <a href="javascript:void(0)" class=" profile" ng-click="urunEkleme()">
                    <img ng-src="{{host}}/media/original/{{$root.mkb.current_user.profile_picture}}" class="img-circle" >
                </a>
            </li>
            
            <li><a href="javascript:void(0)" class="cd-signin" ng-click="cikis()">Çıkış</a></li>

        </ul>
    </nav>
</header>

<div class="row" style="padding-top: 50px">
    <div class="col-md-8 col-md-offset-2">
        <!--Ürün Ekle-->
        <div class="row" ng-hide="siparis">
            <div class="col-sm-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Ürün Tanımı</b></h4>
                    <p class="text-muted m-b-30 font-13">
                    </p>
                    <div class="row">
                        <div class="col-md-9">
                            <form class="form-horizontal" role="form" name="form">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Ürün Adı</label>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="objUrun.name" placeholder="ürün adi giriniz" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Ürün Fiyatı</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="ürün fiyatı giriniz..." ng-model="objUrun.price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Özellikler</label>
                                    <div class="col-md-10">
                                      <tags-input ng-model="spec_arr"></tags-input>
                                    </div>
                                </div><div class="form-group">
                                    <label class="col-md-2 control-label">Sıra</label>
                                    <div class="col-md-10">
                                        <input type="number" class="form-control" placeholder="gösterimdeki sırayı giriniz..." ng-model="objUrun.product_order">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Ekleyen</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" readonly="" ng-model="objUrun.updated_by">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <form class="form-horizontal" role="form" method="post" id="myForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <img id="img" src="http://placehold.it/400x400" alt="" class="img-responsive">
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="button" value="Fotograf Seç" class="btn btn-primary btn-block" ng-click="resimSec($event)">
                                        <input id="resim" type="file" name="mediaList" style="display:none;">

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-default" style="border-radius :0px" ng-click="save()">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Ürün Listeleme sayfası-->
        <div class="row" ng-hide="siparis">
            <div class="col-sm-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Ürün Tanımı Listele</b></h4>
                    <p class="text-muted m-b-30 font-13">
                    </p>

                    <div class="table-responsive">
                        <table id="mainTable" class="table">
                            <thead style="background-color:#36404a">
                                <tr>
                                    <th style="color:#000;">ürün adi</th>
                                    <th style="color:#000;">ürün fiyatı</th>
                                    <th style="color:#000;">sıra</th>
                                    <th style="color:#000;">ekleyen</th>
                                    <th style="width:90px; color:#000;">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in listOrder track by $index">
                                    <td ng-bind="product.name"></td>
                                    <td ng-bind="product.price"></td>
                                    <td ng-bind="product.product_order"></td>
                                    <td ng-bind="product.updated_by"></td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" data-placement="top" data-toggle="tooltip" data-original-title="Sil" ng-click="delete(product._id,$index)"><i class="glyphicon glyphicon-trash"></i></button>
                                        <button class="btn btn-sm btn-default" data-placement="top" data-toggle="tooltip" data-original-title="Kaydet" ng-click="edit(product._id,$index)"><i class="glyphicon glyphicon-ok"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Gelen ilk ürün (ana ekran)--->
<div class="row" ng-hide="urunEkle" ng-repeat="item in list track by $index">
    <div class="col-md-12">
        
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="panel panel-border panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title">YENİ SİPARİŞ</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" style="display:table">
                            <thead>
                                <tr>
                                    <th class="text-center">Ürün Resmi</th>
                                    <th class="text-center">Kullanici Bilgileri</th>
                                    <th class="text-center">Ürün x Miktar</th>
                                    <th class="text-center">Özellik</th>
                                    <th class="text-center">Fiyat</th>
                                    <th class="text-center" colspan="2">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:100px" class="text-center">
                                        <img ng-src="{{host}}/media/original/{{item.product.picture}}" alt="cay" class="img-responsive img-thumbnail">
                                    </td>
                                    <td class="text-center">
                                        <div class="member-info">
                                            <h4 class="m-t-0"><b ng-bind="item.account_id.name" style="text-transform:uppercase; font-weight:bold;"></b></h4>
                                            <h4 class="text-dark m-b-5" style=""><b>Oda  : </b> <span class="text-muted" ng-bind="item.room_no"></span></h4>
                                            <h4 class="text-dark m-b-0" style=""><b>Masa : </b> <span class="text-muted" ng-bind="item.desk_no"></span></h4>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span style="font-size:16px" class="label label-default">{{item.product.name}} x {{item.piece}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span style="font-size:16px" class="label label-default" ng-bind="item.product_spec"></span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-default " style="font-size:16px;" ng-bind="item.total_price"></span>
                                    </td>
                                    <td class="text-center" style="width:100px">
                                        <a href="" class="btn btn-block btn-success waves-effect waves-light btn-lg" ng-click="onayla($index)" style="height:100%"><i class="glyphicon glyphicon-ok"></i></a>

                                    </td>
                                    <td class="text-center" style="width:100px">
                                        <a href="" class="btn btn-block btn-danger waves-effect waves-light btn-lg" ng-click="iptal($index)" style="height:100%; "><i style=""class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    </div>
        </div>
    </div>
</div>


</div>
