<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="#dashboard" class="logo"><i class="icon-magnet icon-c-logo"></i><span>SGK</span></a>
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left">
                        <i class="ion-navicon"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <form role="search" class="navbar-left app-search pull-left hidden-xs">
                     <input type="text" placeholder="ara..." class="form-control">
                     <a href=""><i class="fa fa-search"></i></a>
                </form>


                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown hidden-xs">
                        <a href="#dashboard" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <i class="icon-bell"></i> <span class="badge badge-xs badge-danger">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                        </ul>
                    </li>
                    <li class="dropdown " style="">
                        <a style="padding-top:10px" href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Ayarlar</a></li>
                            <li><a href="javascript:void(0)" ng-click="logout()"><i class="ti-power-off m-r-5"></i> Çıkış</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->


<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub">
                    <a href="#dashboard" class="waves-effect"><i class="ti-home"></i> <span> Anasayfa </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#rol" class="waves-effect"><i class="ti-clipboard"></i> <span> Rol Tanımlama </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#gorev" class="waves-effect"><i class="ti-archive"></i> <span>Görev Tanımlama </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#kat_tanimlama" class="waves-effect"><i class="ti-layout-menu-v"></i> <span>Kat Tanımlama </span> </a>
                </li>
                 <li class="has_sub">
                    <a href="#ofis_tanimi" class="waves-effect"><i class="ti-marker"></i> <span>Ofis Tanımlama </span> </a>
                </li>
                 <li class="has_sub">
                    <a href="#masa_tanimi" class="waves-effect"><i class="ti-harddrives"></i> <span>Masa Tanımlama </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#kullanici_tanimlama" class="waves-effect"><i class="ti-user"></i> <span> Kullanıcı Tanımlama </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#kantin_tanimi" class="waves-effect"><i class="ti-money"></i> <span>Kantin Tanımlama </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#guvenlik_tanimlama" class="waves-effect"><i class="ti-alert"></i> <span>Güvenlik Tanımlama </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#odaci_tanimlama" class="waves-effect"><i class="ti-control-record"></i> <span>Odacı Ataması </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#button" class="waves-effect"><i class="ti-signal"></i> <span>Button Ataması </span> </a>
                </li>
                   <li class="has_sub">
                    <a href="#izinler" class="waves-effect"><i class="ti-flag"></i> <span>İzinler </span> </a>
                </li>
                  </li>
                   <li class="has_sub">
                    <a href="#yonlendirme" class="waves-effect"><i class="ti-flag"></i> <span>Yönlendirme </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->



<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <div class="row">

            <!--Content start -->
                <div ui-view style="min-height:700px"></div>

            <!--Content End-->


            </div>




         </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2016 © SGK İzmir
    </footer>

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


<!-- Right Sidebar -->

<!-- /Right-bar -->


</div>
