<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="#dashboard" class="logo">
                <i class="icon-c-logo">
                  {{systemHour}}{{ayrac}}{{systemMinutes}}
              </i>
                <span>SGK</span>
            </a>
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left" ng-click="menuToggle()">
                        <i class="ion-navicon"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>



                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown hidden-xs">
                        <a href="#dashboard" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <i class="icon-bell"></i> <span class="badge badge-xs badge-danger">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                        </ul>
                    </li>
                    <li class="hidden-xs">
                        <a href="" class="waves-effect waves-light" ng-click="fullScreen()">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                    <li class="dropdown " style="">
                        <a style="padding-top:10px" href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img ng-src="{{host}}/media/original/{{$root.mkb.current_user.profile_picture}}" alt="user-img" class="img-circle"> </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Ayarlar</a></li>
                            <li><a href="javascript:void(0)" ng-click="logout()"><i class="ti-power-off m-r-5"></i> Çıkış</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->


<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="slimScrollDiv">
        <div class="sidebar-inner">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li class="has_sub">
                        <a href="" ng-click="git('menu1.dashboard',$event)" class="waves-effect "><i class="ti-home"></i> <span> Anasayfa </span> </a>
                    </li>
                    <li class="has_sub">
                        <a href="" class="waves-effect"><i class="ti-user"></i> <span class="label label-primary pull-right">3</span><span>Kullanicilar </span> </a>
                        <ul class="list-unstyled">
                            <li><a href="" ng-click='git("menu1.rol",$event)'>Rol Tanımlama</a></li>
                            <li><a href="" ng-click='git("menu1.gorev",$event)'>Görev Tanımlama</a></li>
                            <li><a href="" ng-click='git("menu1.kullanici_tanimlama",$event)'>Kullanıcı Tanımlama</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="" class="waves-effect"><i class="ti-layout-accordion-merged"></i> <span class="label label-pink pull-right">3</span> <span>Yerlesim </span> </a>
                        <ul class="list-unstyled">
                            <li><a href="" ng-click='git("menu1.kat_tanimlama",$event)'>Kat Tanımlama</a></li>
                            <li><a href="" ng-click='git("menu1.ofis_tanimi",$event)'>Ofis Tanımlama</a></li>
                            <li><a href="" ng-click='git("menu1.masa_tanimi",$event)'>Masa Tanımlama</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="" class="waves-effect"><i class="ti-desktop"></i> <span class="label label-success pull-right">3</span> <span>Terminal </span> </a>
                        <ul class="list-unstyled">
                            <li><a href="" ng-click='git("menu1.kantin_tanimi",$event)'>Kantin Tanımlama</a></li>
                            <li><a href="" ng-click='git("menu1.guvenlik_tanimlama",$event)'>Güvenlik Tanımlama</a></li>
                            <!-- <li><a href="" ng-click='git("menu1.odaci_tanimlama",$event)'>Odacı Tanımlama</a></li> -->
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="" ng-click='git("menu1.button",$event)' class="waves-effect"><i class="ti-signal"></i> <span>Button Tanımlama </span> </a>
                    </li>
                    <li class="has_sub">
                        <a href="" ng-click='git("menu1.izinler",$event)' class="waves-effect"><i class="ti-flag"></i> <span>İzin Tanımlama </span> </a>
                    </li>
                    </li>
                    <li class="has_sub">
                        <a href="" ng-click='git("menu1.yonlendirme",$event)' class="waves-effect"><i class="ti-link"></i> <span>Sayfa Yönlendirme </span> </a>
                    </li>
                    <li class="has_sub">
                        <a href="" ng-click='git("menu1.mesaj",$event)' class="waves-effect"><i class="ti-link"></i> <span>Bildirim Yap </span> </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Left Sidebar End -->



<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!--Content start -->
                <div ui-view style="min-height:700px"></div>

                <!--Content End-->


            </div>




        </div>
        <!-- container -->

    </div>
    <!-- content -->

    <footer class="footer">
        2016 © SGK İzmir
    </footer>

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


<!-- Right Sidebar -->

<!-- /Right-bar -->


</div>