<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Bildirim</b></h4>
            <p class="text-muted m-b-30 font-13">
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Başlık</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Başlık giriniz..." ng-model="obj.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">İçerik</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" placeholder="İçerik giriniz" ng-model="obj.content"></textarea>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="col-md-6">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-md-2 control-label">Düzenleyen</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" readonly="" ng-model="user">
                            </div>
                        </div>

                    </form>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-default" style="border-radius :0px" ng-click="save()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>