
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Oda Tanımı</b></h4>
            <p class="text-muted m-b-30 font-13">
                Most common form control, text-based input fields. Includes support for all HTML5 types
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kullanıcı</label>
                            <div class="col-md-10">
                                <ui-select class="form-control" ng-model="person.selected" theme="select2" ng-disabled="disabled">
                                    <ui-select-match placeholder="Kullanıcı seçiniz">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                                      <div ng-bind-html="person.name | highlight: $select.search"></div>
                                      <small>
                                        email: {{person.email}}
                                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                      </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kat</label>
                            <div class="col-md-10">
                                <ui-select class="form-control" ng-model="person.selected" theme="select2" ng-disabled="disabled">
                                    <ui-select-match placeholder="Kat seçiniz">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                                      <div ng-bind-html="person.name | highlight: $select.search"></div>
                                      <small>
                                        email: {{person.email}}
                                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                      </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                    </form>
                </div>
                

                <div class="col-md-6">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-md-2 control-label">Düzenleyen</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" readonly="" value="Ahmet Şık">
                            </div>
                        </div>

                    </form>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-default" style="border-radius :0px">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Oda Tanımı Listele</b></h4>
            <p class="text-muted m-b-30 font-13">
                İçeriğin üstüne tıklayıp düzenleme yapabilirsiniz.
            </p>

            <div class="table-responsive">
                <table id="mainTable" class="table">
                    <thead style="background-color:#36404a">
                        <tr>
                            <th style="color:#fff;">Kullanıcı</th>
                            <th style="color:#fff;">Kat</th>
                            <th style="color:#fff;">Düzenleyen</th>
                            <th style="width:90px; color:#fff;">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Çaycı</td>
                            <td>1</td>
                            <td>Ahmet Şık</td>
                            <td>
                                <button class="btn btn-sm btn-danger" data-placement="top" data-toggle="tooltip" data-original-title="Sil"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-sm btn-default" data-placement="top" data-toggle="tooltip" data-original-title="Kaydet"><i class="glyphicon glyphicon-ok"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Çaycı</td>
                            <td>1</td>
                            <td>Ahmet Şık</td>
                            <td>
                                <button class="btn btn-sm btn-danger" data-placement="top" data-toggle="tooltip" data-original-title="Sil"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-sm btn-default" data-placement="top" data-toggle="tooltip" data-original-title="Kaydet"><i class="glyphicon glyphicon-ok"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
