<section class="cd-section projects visible">
    <header>
      <div class="cd-title">
       <div class="row">
           <div class="col-md-6">
               <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="obj.description"></textarea>
           </div>
           <div class="col-md-3">
               <button class="btn btn-info" ng-click="save()">ÇAĞIR</button>
           </div>
       </div>
       <br>
       <br>
       <table class="table" style="background-color:white">
           <thead>
              <tr>
              <th>#</th>
               <th>Açıklama</th>
               <th>Tarih</th>
               <th>Odacı</th>
               <th>Durum</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="item in odaciIstekler track by $index">
                   <td ng-bind="$index+1"></td>
                   <td ng-bind="item.description"></td>
                   <td ng-bind="item.service_date"></td>
                   <td ng-bind="item.crew_id.name"></td>
                   <td ng-show="item.isActive == true"><span class="a_seen"></span></td>
                   <td ng-show="item.isActive == false"><span class="not_seen"></span></td>
               </tr>
           </tbody>
       </table>
        </div>
    </header>
</section>