<section class="cd-section projects visible">
    <header>
      <div class="cd-title">
       <div class="row">
           <div class="col-md-6">
               <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="obj.description"></textarea>
           </div>
           <div class="col-md-3">
               <button class="btn btn-info" ng-click="save()">ÇAĞIR</button>
           </div>
       </div>
       <br>
       <br>
       <table class="table" style="background-color:white">
           <thead>
              <tr>
               <th>istek</th>
               <th>tarih</th>
               <th>durum</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>dfhkldfh</td>
                   <td>d040403434</td>
                   <td>görüldü</td>
               </tr>
           </tbody>
       </table>
        </div>
    </header>
</section>