<header role="banner" style="position:fixed; z-index:10">
    <div id="cd-logo">
        <div class="form-inline">
            <div class="form-gruop">
                <a>
                    <img style="margin-top: -4px" ng-src="{{host}}/{{$root.mkb.current_user.profile_picture}}" style="width: " class="img-circle thumb-md">
                </a>
            </div>
        </div>

    </div>

    <nav class="main-nav">
        <ul>

            <li><a href="javascript:void(0)" class="cd-signin" ng-click="cikis()">Çıkış</a></li>

        </ul>
    </nav>
</header>

<section class="visible">
    <br>
    <div class="row" style="margin-top:74px;">
        <!---->
        <div class="col-md-8 hidden-xs">
            <div class="col-md-12">
                <div class="panel panel-border panel-custom">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Panel Custom
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:50px"># </th>
                                    <th class="text-center">Ürün </th>
                                    <th class="text-center">Özellik </th>
                                    <th class="text-center">Miktar </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Çay</td>
                                    <td class="text-center">Demli</td>
                                    <td class="text-center" style="width:200px">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn data-dwn">
                                                <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1" min="-10" max="40">
                                            <span class="input-group-btn data-up">
                                                <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:150px;">
                                        <button class="btn btn-block btn-warning">Favorilerime Ekle</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Çay</td>
                                    <td class="text-center">Açık</td>
                                    <td class="text-center" style="width:200px">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn data-dwn">
                                                <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1" min="-10" max="40">
                                            <span class="input-group-btn data-up">
                                                <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:150px;">
                                        <button class="btn btn-block btn-warning">Favorilerime Ekle</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <button class="btn btn-block btn-default">Siparişi Ver</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-md-12" style="padding-left:0">
                    <div class="panel panel-border panel-custom panel-full">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Açıklama 1
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" >
                                <div class="col-xs-4" >
                                    <button class="btn btn-danger btn-block " style="height:100px">Biri Baksın</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-danger btn-block " style="height:100px">Fotokopi</button>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-danger btn-block" style="height:100px">Güvenlik</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-title">
                                        Hızlı Sipariş
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:50px"># </th>
                                                <th class="text-center">Ürün </th>
                                                <th class="text-center">Özellik </th>
                                                <th class="text-center">Miktar </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td class="text-center">Çay</td>
                                                <td class="text-center">Demli</td>
                                                <td class="text-center" style="width:200px">
                                                    <div class="input-group number-spinner">
                                                        <span class="input-group-btn data-dwn">
                                                            <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                                        </span>
                                                        <input type="text" class="form-control text-center" value="1" min="-10" max="40">
                                                        <span class="input-group-btn data-up">
                                                            <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width:150px;">
                                                    <button class="btn btn-block btn-danger">Favorilerimden Çıkar</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td class="text-center">Çay</td>
                                                <td class="text-center">Açık</td>
                                                <td class="text-center" style="width:200px">
                                                    <div class="input-group number-spinner">
                                                        <span class="input-group-btn data-dwn">
                                                            <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                                        </span>
                                                        <input type="text" class="form-control text-center" value="1" min="-10" max="40">
                                                        <span class="input-group-btn data-up">
                                                            <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="width:150px;">
                                                    <button class="btn btn-block btn-danger">Favorilerimden Çıkar</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!--
<section class="visible" >
    <br>
    <div class="row">
        <div class="col-sm-8">
            <div class="">
                <div class="row" style="margin-top:74px;">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="input-group" ng-controller="OdaciCtrl">
                                <textarea ng-model="obj.description" class="form-control custom-control" placeholder="odacı cağır" rows="2" style="resize: none; font-size: 24px; text-align:center"></textarea>
                                <span ng-click="save()" class="input-group-addon btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp; Gönder &nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" ng-repeat="product in products" ng-if="$index % 3 === 0">
                    <div class="col-md-12">
                        <div class="">
                            <div class="col-md-4" ng-if="$index < products.length">
                                <div class="info-card">
                                    <img style="width: 100%; height: 350px;" ng-src="{{host}}{{products[$index].picture}}" />
                                    <div class="info-card-details animate">
                                        <div class="info-card-header">
                                            <h1 ng-bind="products[$index].name"></h1>
                                        </div>
                                        <div class="info-card-detail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text center">
                                                        <button type="button" class="btn btn-white waves-effect" ng-repeat="spec in products[$index].product_specs" ng-bind="spec" ng-click="specClick($parent.$index,spec)"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-3">
                                                        <label for="" style="color: #000; padding-top:8px;" >Adet </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group spinner">
                                                            <input type="text" class="form-control" style="border-radius: 0;" ng-model="obj[$index].piece">
                                                            <div class="input-group-btn-vertical">
                                                                <button class="btn btn-primary" type="button" style="border-radius: 0" ng-click="up($index)"><i class="fa fa-caret-up"></i></button>
                                                                <button class="btn btn-primary" type="button" style="border-radius: 0" ng-click="down($index)" ng-disabled="obj[$index].piece<1"><i class="fa fa-caret-down"></i></button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-6">
                                                        <span style="color: #000">Fiyatı : <span style="color: #000" ng-bind="products[$index].price"></span><span style="color: #000"> &#x20BA; </span></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span style="color: #000">Toplam : <span style="color: #000" ng-bind="products[$index].price*obj[$index].piece"></span><span style="color: #000"> &#x20BA;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-center">
                                                        <button class="btn btn-primary btn-block" style="border-radius: 0" ng-click="save($index)">Sipariş ver</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="$index+1 < products.length">
                                <div class="info-card">
                                    <img style="width: 100%; height: 350px;" ng-src="{{host}}{{products[$index+1].picture}}" />
                                    <div class="info-card-details animate">
                                        <div class="info-card-header">
                                            <h1 ng-bind="products[$index+1].name"></h1>
                                        </div>
                                        <div class="info-card-detail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text center">
                                                        <button type="button" class="btn btn-white waves-effect" ng-repeat="spec in products[$index+1].product_specs" ng-bind="spec" ng-click="specClick($parent.$index+1,spec)"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-3">
                                                        <label for="" style="color: #000; padding-top:8px;" >Adet </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group spinner">
                                                            <input type="text" class="form-control" style="border-radius: 0;" ng-model="obj[$index+1].piece">
                                                            <div class="input-group-btn-vertical">
                                                                <button class="btn btn-primary" type="button" style="border-radius: 0" ng-click="up($index+1)"><i class="fa fa-caret-up"></i></button>
                                                                <button class="btn btn-primary" type="button" style="border-radius: 0" ng-click="down($index+1)" ng-disabled="obj[$index+1].piece<1"><i class="fa fa-caret-down"></i></button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-6">
                                                        <span style="color: #000">Fiyatı : <span style="color: #000" ng-bind="products[$index+1].price"></span><span style="color: #000"> &#x20BA; </span></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span style="color: #000">Toplam : <span style="color: #000" ng-bind="products[$index+1].price*obj[$index+1].piece"></span><span style="color: #000"> &#x20BA;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-center">
                                                        <button class="btn btn-primary btn-block" style="border-radius: 0" ng-click="save($index+1)">Sipariş ver</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="$index+2 < products.length">
                                <div class="info-card">
                                    <img style="width: 100%; height: 350px;" ng-src="{{host}}{{products[$index+2].picture}}" />
                                    <div class="info-card-details animate">
                                        <div class="info-card-header">
                                            <h1 ng-bind="products[$index+2].name"></h1>
                                        </div>
                                        <div class="info-card-detail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text center">
                                                        <button type="button" class="btn btn-white waves-effect" ng-repeat="spec in products[$index+2].product_specs" ng-bind="spec" ng-click="specClick($parent.$index+2,spec)"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-3">
                                                        <label for="" style="color: #000; padding-top:8px;" >Adet </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group spinner">
                                                            <input type="text" class="form-control" style="border-radius: 0;" ng-model="obj[$index+2].piece">
                                                            <div class="input-group-btn-vertical">
                                                                <button class="btn btn-primary" type="button" style="border-radius: 0" ng-click="up($index+2)"><i class="fa fa-caret-up"></i></button>
                                                                <button class="btn btn-primary" type="button" style="border-radius: 0" ng-click="down($index+2)" ng-disabled="obj[$index+2].piece<1"><i class="fa fa-caret-down"></i></button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="col-md-6">
                                                        <span style="color: #000">Fiyatı : <span style="color: #000" ng-bind="products[$index+2].price"></span><span style="color: #000"> &#x20BA; </span></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span style="color: #000">Toplam : <span style="color: #000" ng-bind="products[$index+2].price*obj[$index+2].piece"></span><span style="color: #000"> &#x20BA;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-center">
                                                        <button class="btn btn-primary btn-block" style="border-radius: 0" ng-click="save($index+2)">Sipariş ver</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="msg-box" style="height: 100%; display: inline-block; top:76px; position:fixed;">
                <div class="chat-container">
                    <div class="chat-data">
                        <ul class="nav nav-tabs" role="tablist" style="background-color: #e7e7e7">
                            <li role="presentation" class="active"><a data-target="#seen" aria-controls="home" role="tab" data-toggle="tab">Güncel <span class="not_seen" style="display: inline-block"></span></a></li>
                            <li role="presentation"><a data-target="#not_seen" aria-controls="profile" role="tab" data-toggle="tab">Geçmiş <span class="a_seen" style="display: inline-block"></span></a>
                            </li>
                            <li  role="presentation"><a data-target="#liste" aria-controls="profile" role="tab" data-toggle="tab">Odacı İstek <span class="" style="display: inline-block"></span></a>
                            </li>
                        </ul>

                        <div class="tab-content" style="padding: 0; height:300px; overflow:auto">
                            <div role="tabpanel" class="tab-pane active" id="seen">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="5"></th>
                                        </tr>
                                        <tr>
                                            <th style="color: #6c6c6c !important">Adet</th>
                                            <th style="color: #6c6c6c !important">İsim</th>
                                            <th style="color: #6c6c6c !important">Fiyat</th>
                                            <th style="color: #6c6c6c !important">Durum</th>
                                            <th style="width: 100px; color: #6c6c6c !important">İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in siparisler track by $index" ng-if="item.isActive=='false'">
                                            <td ng-bind="item.piece"></td>
                                            <td ng-bind="item.product.name"></td>
                                            <td>{{item.total_price}} &#x20BA; </td>
                                            <td><span class="label label-danger" ng-if="item.order_status == 'reject'">İptal</span>
                                                <span class="label label-warning" ng-if="item.order_status == 'wait'">Bekliyor</span></td>
                                            <td>
                                                <button class="btn btn-sm btn-default" ng-click="delete($index,item._id)"><i class="glyphicon glyphicon-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Toplam</td>
                                            <td>{{guncel_siparis_toplami}} &#x20BA;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="not_seen">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="4"></th>
                                        </tr>
                                        <tr>
                                            <th>Adet</th>
                                            <th>İsim</th>
                                            <th>Fiyat</th>
                                            <th>Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in siparisler track by $index" ng-if="item.isActive=='true'">
                                            <td ng-bind="item.piece"></td>
                                            <td ng-bind="item.product.name"></td>
                                            <td>{{item.total_price}} &#x20BA; </td>
                                            <td><span class="label label-success" ng-if="item.order_status == 'accept'">Alındı</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Toplam</td>
                                            <td>{{gecmis_siparis_toplami}} &#x20BA;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="liste" ng-controller="OdaciCtrl">
                                <table class="table" style="background-color: white">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Açıklama</th>
                                            <th>Tarih-Saat</th>
                                            <th>Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in odaciIstekler track by $index">
                                            <td ng-bind="$index+1"></td>
                                            <td ng-bind="item.description"></td>
                                            <td ng-bind="$root.dateBeautify(item.service_date)"></td>
                                            <td ng-show="item.isActive == true"><span class="a_seen"></span></td>
                                            <td ng-show="item.isActive == false"><span class="not_seen"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span>Hızlı Sipariş</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" ng-repeat="item in hizliSiparis track by $index" ng-if="item.count != undefined ">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" disabled placeholder="çay - demli - 1 adet" value="{{item.product.name}}  {{item.product_spec}}  {{item.piece}} adet">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="hizliSiparisVer(item)">Sipariş ver!</button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                </div>
            </div>
        </div>
    </div>

</section>
-->
